


.container {
  max-width: 1170px;
  margin: auto;
  position: relative;

}
.container::after {
  content: "";
  display: table;
  clear: both;
}

.container , [class*="col-"]{
  border: 1px solid red;
}

[class*="col-"]{
  height:300px;
  position: relative;
}

[class*="col-"] {
  float: left;

}
h2{
  position:
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
img{
width:100px;

}
